<div class="page-header">
  <h1 class="text-center">Create your own vote</h1>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <form class="new-vote-form" name="newVoteForm" ng-submit="createVote()">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Title" ng-model="title" required>
      </div>
      <div new-option>
        <div class="form-group">
          <a class="btn btn-success add-option-btn">Add Option</a>
          <a class="btn btn-danger remove-option-btn disabled">Remove Option</a>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg create-vote-btn" disabled>Create</button>
    </form>
  </div>
</div>