<div class="page-header">
  <h1 class="text-center">Your votes</h1>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div ng-repeat="vote in votes" ng-init="vote.currentOption = 0">
      <form name="voteForm" ng-submit="upVote(vote, vote.options, vote.currentOption)">
        <h2>{{vote.title}} (Total votes - {{vote.total}})</h2>
        <div class="radio" ng-repeat="option in vote.options">
          <label>
            <input type="radio" name="voteOptions" value="{{$index}}" ng-model="vote.currentOption" ng-disabled="vote.userVoted" required>
            {{option.body}} - {{option.upvotes}}
          </label>
        </div>
        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="vote.userVoted">Vote</button>
      </form>
      <h3 ng-hide="votes.length">Sorry, you have no votes to vote &colon;&lpar;</h3>
    </div>
  </div>
</div>
