.new-vote-form {
  .new-option-row {
    margin-left: -5px;
    margin-right: -5px;
    .new-option-column {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .new-option-input {
    margin-bottom: 10px;
  }
//  .new-option-btn {
//    display: block;
//    float: left;
//    width: calc(50% - 2.5px);
//    margin-right: 5px;
//    &:last-child {
//      margin-right: 0;
//    }
//  }
  
  .create-vote-btn {
    width: 100%;
  }
}

/**** Media Queries ****/
/* Small and up */
@media (min-width: $screen-sm-min) {
  .new-vote-form {
    .new-option-input {
      margin-bottom: 0;
    }
    .create-vote-btn {
      width: initial;
    }
  }
}