<div class="page-header text-center">
  <h1>Register</h1>
</div>

<form ng-submit="register()">
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email" ng-model="user.email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
  </div>
  <input type="submit" class="btn btn-default" value="Register">
</form>