<!DOCTYPE html>
<html>
<head>
  <title>Vote System</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="voteSystemAngular">

  <div ng-include="'nav/_nav.html'"></div>
  <div class="container">
    <ui-view></ui-view>
  </div>

</body>
</html>
